
@import "_variables.scss";

/* ESTILOS CONTACTO*/

.grid-container-contacto{
    @extend .grid-container;
    grid-template-columns: map-get($estilos_container,dos_columas);
    grid-template-rows:  map-get($estilos_container,fila_media);
    padding: map-get($estilos_container,separacion);

    .grid-item-contacto{

        @include flex-box;
        border: map-get($estilos_container,bordes);
        border-radius: map-get($estilos_container,bordes_radiales);

        iframe {
            width:map-get($estilos_container,ancho);
            height:map-get($estilos_container,alto);
            border-radius: map-get($estilos_container,bordes_radiales);    
        }

        &:nth-child(1){
            grid-column: map-get($estilos_container,ext_colum_tercio);
            border:none;
        }
    
        &:nth-child(2){
            grid-column: map-get($estilos_container,ext_colum_media);
            .container-formulario{
                width: map-get($estilos_container,ancho);
                .formulario {        
                    background-color: $gris-claro-bg;
                    opacity: .7;
                    width:map-get($estilos_container,ancho);
                    margin: 0 auto;
                    padding: map-get($estilos_container,separacion);
                    border-radius: 5px; 
                    fieldset {
                        border:none;
                        legend {
                        color: $blanco;
                        text-align:left;
                        font-size:18px;
                        margin-bottom: map-get($estilos_container,separacion);
                        }
                    }
            

                    .contenedor-campos {
                        .campo {
                            margin-bottom: 10px;
                            label{
                            color: $blanco;
                            font-weight:bold;
                            margin-bottom: 5px;
                            display: block;
                            }
                            .input-text{
                            width: map-get($estilos_container,ancho);    
                            }
                        }
                    }
                    .boton {
                        background-color:$btn_contacto;
                        color:$blanco;
                        font-size: map-get($estilos_container,separacion);
                        padding: 10px 30px;
                        margin-top: 30px;
                        border-radius: 5px;
                        width: map-get($estilos_container,ancho);
                        text-align: center;
                    }
                }
            }

        }
    }

}

