
@import "_variables.scss";


/* ESTILOS ESTUDIO*/

.grid-container-estudio{
    @extend .grid-container;
    grid-template-columns: map-get($estilos_container,dos_columas);
    grid-template-rows: map-get($estilos_container,tres_filas);


    .grid-item-estudio{
        border: map-get($estilos_container,bordes);
        border-radius: map-get($estilos_container,bordes_radiales);
        transition: map-get($estilos_container,transiciones);
        &:hover{
            transform: map-get($estilos_container,transformaciones);
        }

        iframe {
            border-radius: map-get($estilos_container,bordes_radiales);  
            width: map-get($estilos_container,ancho); 
            height: 400px;  
        }

        img {
            width:map-get($estilos_container,ancho);
            height:map-get($estilos_container,altura); 
            border-radius: map-get($estilos_container,bordes_radiales);   
        }

        &:nth-child(1){
            grid-column:map-get($estilos_container,ext_colum_tercio);
            border:none;
            transform: none;
                  
        }
        &:nth-child(2), &:nth-child(5){
            grid-column:map-get($estilos_container,ext_colum_tercio);    
        }
        &:nth-child(3),&:nth-child(4) {
            border:none;
        }
        &:nth-child(4){
            grid-column:map-get($estilos_container,ext_columnas_dos_tercio);
        }
    }
    
}

