@import "_variables.scss";

/* ESTILOS NOVEDADES*/

.grid-container-novedades{
   @extend .grid-container;
    grid-template-columns: map-get($estilos_container, dos_columnas);
    grid-template-rows: map-get($estilos_container, una_fila);
    .grid-item-novedades{
        border: map-get($estilos_container, bordes);
        border-radius: map-get($estilos_container, bordes_radiales);
        transition: map-get($estilos_container, transiciones);
        &:hover{
            transform: map-get($estilos_container, transformaciones);
        }
        &:nth-child(1){
            border:none;
            transform: none;
        }
        &:nth-child(1),&:nth-child(2),&:nth-child(5),&:nth-child(6){
            grid-column:map-get($estilos_container,ext_colum_tercio);        
        }
        &:nth-child(4){
            grid-column:map-get($estilos_container,ext_columnas_dos_tercio);    
        }
    }    
}