@import "_variables.scss";

/* ESTILOS PROYECTO*/

.grid-container-proyecto{
    @extend .grid-container;
    grid-template-columns: map-get($estilos_container,tres_columas);

    .grid-item-proyecto{

        border: map-get($estilos_container,bordes);
        border-radius: map-get($estilos_container,bordes_radiales);
        transition: map-get($estilos_container,transiciones);
        &:hover{
            transform: map-get($estilos_container,transformaciones);
        }

        &:nth-child(1){
            border:none;
            transform: none;
            grid-column:map-get($estilos_container,ext_colum_un_cuarto);
            grid-row: map-get($estilos_container,ext_fila_un_medio);     
        }
        &:nth-child(2){
            grid-column:map-get($estilos_container,ext_colum_un_cuarto);    
        }
        &:nth-child(9){
            grid-column:map-get($estilos_container,ext_colum_un_cuarto);    
        }
        &:nth-child(10){
            grid-column:map-get($estilos_container,ext_colum_dos_cuartos);
            padding-bottom: map-get($estilos_container,separacion);    
        }    
    }
}