
@import "_variables.scss";

/* ESTILOS SERVICIOS*/

.grid-container-servicios{
    @extend .grid-container;
    grid-template-columns: repeat(3, 1fr);
    
    .grid-item-servicios {
        border: 5px solid $gris-claro-bg;
        border-radius: 10px;
        transition: 0.3s ease all;
        &:hover{
            transform: scale(1.05);
        }

        &:nth-child(1){
            grid-column:1/4;
            grid-row: 1/2;
            border:none;
            transform: none;    
        }

        &:nth-child(2),&:nth-child(9),&:nth-child(16){
            grid-column:1/4;
               
        } 

        &:nth-child(10){
            grid-column:1/2;       
        }

        &:nth-child(11){
            grid-column:2/3;        
        }

        &:nth-child(12){
            grid-column:3/4;     
        }

    }
}