/*VARIABLES*/

@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");


$gris-marron-bg:rgb(56, 55, 55);
$gris-claro-bg: gray;
$marron-bg: #6d665c;
$blanco: #ffff;
$black: black;
$tablet-screen:785px;
$desktop-screen:1250px;
$mobile-screen:576px;
$contenedor-grid:1200px;
$fuente-tipografica: 'Abel', sans-serif;
