@import "_index";
@import "_estudio";
@import "_servicios";
@import "_proyecto";
@import "_novedades";
@import "_contacto";
@import "_variables";

/*ESTILOS PRINCIPALES*/

* {
    margin: 0px;
    padding: 0px;    
    font-family: $fuente-tipografica;
}

@mixin flex-box{
    display:flex;
    align-items: center;
    justify-content: center;
}


header {
    background-color:$gris-marron-bg;
    .container-fluid , .btn_and_logo {
        @include flex-box;
    }
        .btn_and_logo {
            @extend.container-fluid;
            width: 47%;
        }
           
            .navbar-brand img{
                width:300px;
                height:100px;
            }

        .navbar-collapse {
            @include flex-box;
        }
            .collapse {

                a {
                text-align: center;
                font-size: 20px;
                padding:10px ;
                text-decoration: none;
                color: $blanco;
                }             
            }
}

.titulo {
    @include flex-box;
    background-color: $gris-marron-bg;
    width: 100%;
    padding: 20px;
    gap:10px;
    
}

.titulo-h1{
    @extend .titulo;
    height: 140px;
    color:$blanco;
    text-shadow: 1px 1px 2px $black;
}

.subtitulo{
    @extend .titulo;
    background-color:$gris-claro-bg;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.subtitulo-h2{
    @extend .subtitulo;
    height: 110px;
    
}
    
.subtitulo-h3{
    @extend .subtitulo;
    height: 50px;   
}


$sheading:(
    h1: 60px,
    h2: 40px,
    h3: 20px, 
);




@each $title ,$size in $sheading {
    #{$title} {
        font-size: $size;
        margin: 0px;
        color: $blanco;
    }

}

.grid-container {
    background-color: $marron-bg;
    display:grid;
    margin: 40px auto;
    max-width: $contenedor-grid;
    gap:10px;
}

.parrafo-item{
    color: $blanco; 
    font-size: 22px;
    padding: 0px 20px;
}

.parrafo-pie{
    color: $blanco; 
    font-size: 15px;
    padding: 0px 20px;
}

#main{
    background-color: $marron-bg;
    padding-bottom: 20px;
}

.img-grid{
    width:100%;
    height:auto;
    border-top-right-radius:5px;
    border-top-left-radius: 5px;
}


@mixin estilos-footer-responsive{
    height: 200px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}


footer{

    height: 200px;
    background-color: $gris-marron-bg;
    display:flex;
    justify-content:space-around;
    align-items: center;
    margin:0px;

    .iconos-footer{
        svg{
            padding-top: 20px;
            padding-bottom: 0px;
            width: 90px;
            height:90px;
        }
    }
    .parrafo-footer{
        @include flex-box;
    } 
    
    
}


/*MEDIA QUERIES*/

@media screen and (max-width:$mobile-screen){

    .btn_and_logo{
        .navbar-brand img{
            width:250px;
            height:90px;
        }
    }

    .navbar {
        .container-fluid {
            justify-content: center;
        }
    }


    .grid-container-home{ 
        .grid-item-home{
            &:nth-child(1) p{
                margin-bottom: 0px;
            }
            &:nth-child(1),&:nth-child(2){            
                padding: 0px 20px;
            }

        }
    }

    .grid-container-home-bis{
        grid-template-columns: 1fr;
        .grid-item-home-bis{
            &:nth-child(1){
                padding: 0px 20px;
            }
            &:nth-child(2), &:nth-child(3) {
                grid-column: 1/3;
                padding: 0px 50px 20px 20px;  
            }     
        }
    }

    .grid-container-proyecto{
        padding: 20px;
        .grid-item-proyecto{
            &:nth-child(3),&:nth-child(4),&:nth-child(5),&:nth-child(6),&:nth-child(7),&:nth-child(8), &:nth-child(9){
                grid-column: 1/4;    
            }
        }
    }  

    .grid-container-servicios{
        padding: 20px;
        .grid-item-servicios{
            &:nth-child(3),&:nth-child(4),&:nth-child(5),&:nth-child(6),&:nth-child(7),&:nth-child(8),&:nth-child(9),&:nth-child(10),&:nth-child(11), &:nth-child(12), &:nth-child(13), &:nth-child(14), &:nth-child(15){
                grid-column: 1/4;    
            }

        }
    }
    
    .grid-container-estudio {  
        .grid-item-estudio{
            &:nth-child(3), &:nth-child(4){
            grid-column:1/3;
            height: 300px;
            }
        }
    }

    
    .grid-container-contacto{
        .grid-item-contacto{
            
        
            &:nth-child(2){
                grid-column:1/3;
                .container-formulario{
                    width: 100%;
                }
            }
            &:nth-child(3){
                grid-column:1/3;
                height: 600px;
            }

        }
    }

    footer{
        @include estilos-footer-responsive;
        
        .iconos-footer{
            
            svg{
                padding-top: 20px;
                margin-bottom: 0px;
                width: 40px ;
                height:40px;
            }
        }
          
    }
}


@media screen and (max-width:$tablet-screen) {
    
    .navbar {
        .container-fluid {
            justify-content: center;
        }
    }

    $sheading:(
        h1: 45px,
        h2: 25px,
        h3: 15px, 
    );

    @each $title ,$size in $sheading {
        #{$title} {
            font-size: $size;
            margin: 0px;
            color: $blanco;
        }

    }


    .grid-container-home{ 
        .grid-item-home {
            &:nth-child(1) p{
                margin-bottom: 0px;
            }
            &:nth-child(1),&:nth-child(2){            
                padding: 0px 20px;
            }

        }
    }

    .grid-container-home-bis{
        grid-template-columns: 1fr;
        .grid-item-home-bis{
            &:nth-child(1){
                padding: 0px 20px;
            }
            &:nth-child(2){
                grid-column: 1/3;
                padding: 0px 50px 20px 20px;  
            }
            &:nth-child(3){
                grid-column: 1/3;
                padding: 0px 50px 20px 20px;    
            }      
        }
    }

    .grid-container-estudio {  
        .grid-item-estudio{
            iframe {
                width: 100%; 
                height: 100%;       
            }
            &:nth-child(3), &:nth-child(4){
            grid-column:1/3;
            padding: 0px 20px 0px 20px;
            }
        }
    }

    .grid-container-servicios{
        padding: 20px;
        .grid-item-servicios{
            &:nth-child(3),&:nth-child(4),&:nth-child(5),&:nth-child(6),&:nth-child(7),&:nth-child(8),&:nth-child(9),&:nth-child(10),&:nth-child(11), &:nth-child(12), &:nth-child(13), &:nth-child(14), &:nth-child(15){
                grid-column: 1/4;  
            }
        }
    }

    .grid-container-contacto{
        .grid-item-contacto{
            .container-formulario{
                width: 100%;
            }
        }
    }

    .grid-container-contacto{
        .grid-item-contacto{
            
            &:nth-child(2){
                grid-column:1/3;
                .container-formulario{
                    width: 100%;
                }
            }
            &:nth-child(3){
                grid-column:1/3;
            }

        }
    }

    footer{
        @include estilos-footer-responsive;

        .iconos-footer{
            
            svg{
                padding-top: 20px;
                padding-bottom: 0px;
                width: 90px ;
                height:90px;
            }
        }
            
    }


     
}

@media screen and (max-width:$desktop-screen){


    .navbar{
        .container-fluid {
            justify-content: center;
        }
    } 

    .grid-container-home{ 
        .grid-item-home {
            &:nth-child(1) p{
                margin-bottom: 0px;
            }
            &:nth-child(1),&:nth-child(2){            
                padding: 0px 20px;
            }

        }
    }

    .grid-container-home-bis{
        grid-template-columns: 1fr;
        .grid-item-home-bis{
            &:nth-child(1){
                padding: 0px 20px;
            }
            &:nth-child(2){
                grid-column: 1/3;
                padding: 0px 20px 10px 20px;
            }
            &:nth-child(3){
                grid-column: 1/3;
                padding: 0px 20px;   
            }      
        }
    }

    .grid-container-estudio{
        grid-template-columns: 1fr;
        padding: 20px; 
        .grid-item-estudio{
            &:nth-child(3),&:nth-child(4){
                grid-column: 1/3;    
                
            }
        }
    }

    .grid-container-servicios{
        padding: 20px;
    }

    .grid-container-proyecto{
        padding: 20px;
    }

    footer{
         @include estilos-footer-responsive;
        .iconos-footer{
            
            svg{
                padding-top: 20px;
                padding-bottom: 0px;
                width:80px;
                height:80px;
            }
        }
            
    }

    
}

