@import "_variables";
@import "_index";
@import "_estudio";
@import "_servicios";
@import "_proyecto";
@import "_novedades";
@import "_contacto";


/*ESTILOS PRINCIPALES*/

* {
    margin: 0;
    padding: 0;    
    font-family: $fuente-tipografica;
}

/*MIXIN FLEX-BOX*/

@mixin flex-box{
    display:flex;
    align-items: center;
    justify-content: center;
}

/*HEADER*/

header {
    background-color:$gris-marron-bg;
    .container-fluid , .btn_and_logo {
        @include flex-box;
        
    }
        .btn_and_logo {
            @extend.container-fluid;
            width: 47%;
        }
           
            .navbar-brand img{
                width:300px;
                height:100px;
                transition: map-get($estilos_container,transiciones);
                &:hover{
                    transform: map-get($estilos_container,transformaciones_1);
                }
            }

        .navbar-collapse {
            @include flex-box;
        }
            .collapse {

                a {
                    text-align: center;
                    font-size: map-get($estilos_container,separacion);
                    padding:10px ;
                    text-decoration: none;
                    color: $blanco;
                    transition: map-get($estilos_container,transiciones);
                    &:hover{
                    transform: map-get($estilos_container,transformaciones_1);
                    color: $blanco;
                    }
                }             
            }

}

/*ESTILOS TITULOS*/

.titulo {
    @include flex-box;
    background-color: $gris-marron-bg;
    width: 100%;
    padding: 20px;
    gap:10px;
}

.titulo-h1{
    @extend .titulo;
    height: 140px;
    color:$blanco;
    text-shadow: 1px 1px 2px $black;
}

.subtitulo{
    @extend .titulo;
    background-color:$gris-claro-bg;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.subtitulo-h2{
    @extend .subtitulo;
    height: 110px;
    
}
    
.subtitulo-h3{
    @extend .subtitulo;
    height: 50px;   
}

$sheading:(
    h1: 60px,
    h2: 40px,
    h3: 18px, 
);

@each $title ,$size in $sheading {
    #{$title} {
        font-size: $size;
        margin: 0px;
        color: $blanco;
    }

}


/*ESTILOS MAIN*/

#main{
    background-color: $marron-bg;
    padding-bottom: 20px;
}

/*ESTILOS GRID*/

.grid-container {
    background-color: $marron-bg;
    display:grid;
    margin: 40px auto;
    max-width: $contenedor-grid;
    gap:25px;
}


.parrafo-item{
    color: $blanco; 
    font-size: 22px;
    padding: 0px 20px;
}

.img-grid{
    width:100%;
    height:auto;
    border-top-right-radius:5px;
    border-top-left-radius: 5px;
}

/*ESTILOS FOOTER*/

footer{

    height: 200px;
    background-color: $gris-marron-bg;
    display:flex;
    justify-content:space-around;
    align-items: center;
    

    .iconos-footer{
        display: flex;
        align-items: center;
        justify-content: space-around;
        svg{
            width: 60px;
            height:60px;
        }
        
    }
    .parrafo-pie{
        text-align: center;
        margin: 0px;
        color: $blanco; 
        font-size: 18px;
        padding: 0px 20px;
    }
}



/*MEDIA QUERIES*/

/*MEDIA QUERIE MOBILE-SCREEN*/

$vista:mobile;

@if $vista== mobile{

    @media screen and (max-width:$mobile-screen) or (max-width:$tablet-screen) {

        .btn_and_logo{
            .navbar-brand img{
                width:250px;
                height:90px;
            }
        }

        .navbar {
            .container-fluid {
                justify-content: center;
            }
        }

        $sheading:(
            h1: 40px,
            h2: 30px,
            h3: 18px, 
        );

        @each $title ,$size in $sheading {
            #{$title} {
            font-size: $size;
            margin: 0px;
            color: $blanco;
            }
        }
        
        .grid-container-home{
            grid-template-columns: map-get($estilos_container, columnas);
            padding: map-get($estilos_container, separacion);
            .grid-item-home{
                &:nth-child(1),&:nth-child(2){            
                    grid-column: map-get($estilos_container, ext_colum_tercio);
                } 
            }
        }
        .grid-container-home-bis{
            grid-template-columns: map-get($estilos_container, una_columna) ;
            padding: map-get($estilos_container, separacion);
            .grid-item-home-bis{
                &:nth-child(1), &:nth-child(2), &:nth-child(3),&:nth-child(4) {
                    grid-column: map-get($estilos_container, ext_colum_tercio);
                } 
             
            }
        }
        .grid-container-proyecto{
            grid-template-columns: map-get($estilos_container, una_columna);
            padding: map-get($estilos_container, separacion);
            .grid-item-proyecto{
                &:nth-child(3),&:nth-child(4),&:nth-child(5),&:nth-child(6),&:nth-child(7),&:nth-child(8), &:nth-child(9){
                    grid-column: map-get($estilos_container, ext_colum_un_cuarto);    
                }
            }
        }  
        .grid-container-servicios{
            grid-template-columns: map-get($estilos_container, una_columna);
            padding: map-get($estilos_container, separacion);
            .grid-item-servicios{
                &:nth-child(3),&:nth-child(4),&:nth-child(5),&:nth-child(6),&:nth-child(7),&:nth-child(8),&:nth-child(9),&:nth-child(10),&:nth-child(11), &:nth-child(12), &:nth-child(13), &:nth-child(14), &:nth-child(15){
                    grid-column: map-get($estilos_container, ext_colum_un_cuarto) ;    
                }

            }
        }
        .grid-container-estudio {  
            .grid-item-estudio{
                iframe {
                    width: map-get($estilos_container, ancho); 
                    height: map-get($estilos_container, altura);       
                }
                &:nth-child(3), &:nth-child(4){
                    grid-column: map-get($estilos_container, ext_colum_tercio);
                }
            }
        }
        .grid-container-novedades {  
            padding: map-get($estilos_container, separacion);
            .grid-item-novedades{
                &:nth-child(1), &:nth-child(2), &:nth-child(3),&:nth-child(4),&:nth-child(5),&:nth-child(6) {
                    grid-column: map-get($estilos_container, ext_colum_tercio);
                } 
            
            }
        }
        .grid-container-contacto{
            .grid-item-contacto{
                &:nth-child(2){
                    grid-column:map-get($estilos_container, ext_colum_tercio);
                    .container-formulario{
                        width: map-get($estilos_container, ancho);
                    }
                }
                &:nth-child(3){
                    grid-column:map-get($estilos_container, ext_colum_tercio);
                    height: 600px;
                }
            }
        }
    
    }
}

/*MEDIA QUERIE DESKTOP-SCREEN*/

@media screen and (max-width:$desktop-screen){

    .navbar{
        .container-fluid {
            justify-content: center;
        }
    } 

    .grid-container-home, .grid-container-home-bis, .grid-container-estudio, .grid-container-servicios, .grid-container-proyecto, .grid-container-novedades, .grid-container-contacto{ 
        padding: map-get($estilos_container, separacion); 
    }
}

